<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://image.juntu.com//uploadfile//2015//0915//20150915051906964.png</string>
	<string>http://image.juntu.com//uploadfile//2015//0915//20150915051907785.png</string>
	<string>http://image.juntu.com//uploadfile//2015//0915//20150915051929993.png</string>
	<string>http://image.juntu.com//uploadfile//2015//0915//20150915051909883.png</string>
	<string>http://image.juntu.com//uploadfile//2015//0915//20150915051910169.png</string>
	<string>http://image.juntu.com//uploadfile//2015//0915//20150915051910263.png</string>
	<string>http://image.juntu.com//uploadfile//2015//0915//20150915051911530.png</string>
	<string>http://image.juntu.com//uploadfile//2015//0915//20150915051912364.png</string>
</array>
</plist>
